html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 40px;
  padding-bottom: 40px;
}
a {
  outline: none !important;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}



body.car-body {
  padding: 0;
}

.navbar-inverse .navbar-brand {
  color: #c0c0c0;
}
.navbar-inverse .navbar-text {
  color: #c0c0c0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #c0c0c0;
}
.navbar {
  min-height: 40px;
}
.navbar .navbar-nav > li > a {
  padding: 10px;
}
.navbar.top-navigation {
  margin-bottom: 10px;
}
.navbar-toggle {
  padding: 5px 6px;
}

.dropdown-menu .divider {
  margin: 5px 0;
}

.page-header{
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  width: 300px;
  overflow-x: hidden;
}
.scrollable-menu li a{
  white-space: normal;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  background: none;
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #eee;
}
.footer .copyright {
  margin: 10px 0;
}

.nav-tabs {
  margin-bottom: 15px;
}

.site {
  margin-bottom: 15px;
}

.panel .panel-heading {
  font-weight: bold;
}
.panel-default > .panel-heading {
  background-color: #f9f9f9;
}
.panel {
  margin-bottom: 10px;
}

a.btn-search, a.btn-search:active {
  text-decoration: none;
}

.wrapper-toolbar {
  margin-bottom: 10px;
}
.wrapper-search {
  margin-bottom: 10px;
  padding-top: 15px;
}

table .input-text {
  width: 60px;
  padding: 5px;
  height: 26px;
  display: inline;
}
.table-form > thead > tr > th
{
  padding: 4px;
  font-size: 13px;
}
.table-form > tbody > tr > td
{
  padding: 4px;
  font-size: 12px;
  /*text-shadow: 0.3px 0.3px #eeeeee;*/
}
.table-form .label
{
  font-size: 90%;
}
.table-form .label-text
{
  padding: 5px 0;
}
.table-form input.form-control,
.table-form select.form-control
{
  padding: 4px;
}
.table-form > tbody > tr:hover
{
  background-color: #f0f0f0;
}

.table-paging .pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group-addon.default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
.input-group-addon.primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}
.input-group-addon.success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}
.input-group-addon.info {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}
.input-group-addon.warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
}
.input-group-addon.danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}
.input-group-addon.btn-link{
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #337ab7;
  font-weight: 400;
}

.color-booking {
  background: #f39c12;
  color:#fff !important;
}
.color-approved {
  background: #18bc9c;
  color:#fff !important;
}
.color-not_approved {
  background: #e5584a;
  color:#fff !important;
}
.color-car_requested {
  background: #3498db;
  color:#fff !important;
}
.color-on_duty {
  background: #903667;
  color:#fff !important;
}
.color-issue {
  background: #d92626;
  color:#fff !important;
}
.color-finished {
  /*background: #8e8f24;*/
  background: #63B81F ;
  color:#fff !important;
}
.color-cancel {
  background: #95a5a6;
  color:#fff !important;
}
.color-no_show {
  background: #2c3e50;
  color:#fff !important;
}
.color-completed {
  background: #1b822b;
  color:#fff !important;
}
.color-free_of_charge {
  background: #333333;
  color:#fff !important;
}

/*.confirmation-form {
  margin-top: 20px;
  margin-bottom: 60px;
}*/
.confirmation-form {
  padding: 10px;
  border: 1px solid #ccc;
}
.confirmation-form .info-detail {
  margin:0;
  padding:0;
}
.confirmation-form .info-detail li {
  list-style: none;
  border-bottom:1px dashed #ccc;
  margin:5px 0;
  padding:5px 0;
}

.modal-signature {
  /*width: 600px;*/
}
.modal-signature .modal-body {
  width: 600px;
  height: 300px;
  padding: 0px;
}
.signature-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
canvas
{
  /*position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;*/
  /*border:1px solid #999;*/
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;*/
}

.log-wrapper {
  border: 1px solid #ccc;
}
.log-item {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.rating-wrapper {
  padding: 0 10px;
}
.comment-wrapper {
  padding: 10px;
}
.review-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#helper {
  position: fixed !important;
  right:20%;
  top:5px;
  z-index:1111;
}
#helper .helper-header {
  border:1px solid #f1f1f1;
  background: #252525;
  padding:5px;
  border-radius: 5px;
  color:#c0c0c0;
  width:95px;
  text-align: center;
  cursor: pointer;
}
#helper .helper-header a {
  color:#c0c0c0;
}
#helper .helper-content {
  position: absolute;
  border:1px solid #ccc;
  background: #fff;
  width:300px;
  padding:5px;
  border-radius: 3px;
}
#helper .table tr td{
  font-size:11px;
}
#helper .tab-content {
  overflow:auto;
  height:400px;
}
#helper .tab-content .label{
  border-radius: 100px;
  padding: 5px 10px;
}

.scrollable-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.scrollable-menu > li > a:hover,
.scrollable-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.scrollable-menu > .active > a,
.scrollable-menu > .active > a:hover,
.scrollable-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.scrollable-menu > .disabled > a,
.scrollable-menu > .disabled > a:hover,
.scrollable-menu > .disabled > a:focus {
  color: #777;
}
.scrollable-menu > .disabled > a:hover,
.scrollable-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.notification-list {
  padding: 0;
}
.notification-list li {
  border-bottom: 1px dashed #ccc;
}
.notification-list li.new {
  background-color: #e3e3e3;
}
.notification-list li a {
  font-size:90%;
  padding: 10px;
}
.notification-list .notification-info {
  font-size: 90%;
  color: #666;
  margin: 0 0 0 -5px;
}
.notification-new {
  padding: 5px;
  background: red;
  position: absolute;
  border-radius: 100px;
}

.fixed-notification {
  position: fixed;
  right: 0;
  padding: 10px;
  width: 300px;
  white-space: nowrap;
  z-index: 1122;
}
.fixed-notification .alert-bali {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-bottom: 5px;
  font-size: 90%;
  padding: 10px;
}
.fixed-notification .alert-bali a {
  color:#fff;
  text-decoration: none;
}
.fixed-notification .alert-bali a:hover {
  color:#fff;
}
.fixed-notification .alert-bali .close {
  color: #fff;
}
.fixed-notification .alert-bali .notification-info {
  font-size: 90%;
  margin: 0 0 0 -5px;
}

.input-view {
  padding: 7px 0;
}

.sub-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.btn-header {
  display: block;
  width: 100%;
  padding: 15px;
}

.btn-light-green {
  color: #fff;
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-light-green:hover,
.btn-light-green:focus,
.btn-light-green:active,
.btn-light-green.active {
  color: #fff;
  background-color: #15a589;
  border-color: #128f76;
}
.btn-light-green.disabled:hover,
.btn-light-green.disabled:focus,
.btn-light-green.disabled:active,
.btn-light-green.disabled.active,
.btn-light-green[disabled]:hover,
.btn-light-green[disabled]:focus,
.btn-light-green[disabled]:active,
.btn-light-green[disabled].active,
fieldset[disabled] .btn-light-green:hover,
fieldset[disabled] .btn-light-green:focus,
fieldset[disabled] .btn-light-green:active,
fieldset[disabled] .btn-light-green.active {
  color: #fff;
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-blue {
  color: #fff;
  background-color: #217DBB;
  border-color: #217DBB;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  color: #fff;
  background-color: #1d6fa5;
  border-color: #196090;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
  color: #fff;
  background-color: #217DBB;
  border-color: #217DBB;
}
.btn-orange {
  color: #fff;
  background-color: #DD4814;
  border-color: #DD4814;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  color: #fff;
  background-color: #c64012;
  border-color: #ae3910;
}
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
  color: #fff;
  background-color: #DD4814;
  border-color: #DD4814;
}
.btn-pink {
  color: #fff;
  background-color: #EB6864;
  border-color: #EB6864;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
  color: #fff;
  background-color: #e8524d;
  border-color: #e53c37;
}
.btn-pink.disabled:hover,
.btn-pink.disabled:focus,
.btn-pink.disabled:active,
.btn-pink.disabled.active,
.btn-pink[disabled]:hover,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink:hover,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink.active {
  color: #fff;
  background-color: #EB6864;
  border-color: #EB6864;
}
.btn-purple {
  color: #fff;
  background-color: #99469D;
  border-color: #99469D;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  color: #fff;
  background-color: #883e8b;
  border-color: #77367a;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  color: #fff;
  background-color: #99469D;
  border-color: #99469D;
}
.btn-red {
  color: #fff;
  background-color: #D7230F;
  border-color: #D7230F;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #fff;
  background-color: #bf1f0d;
  border-color: #a71b0c;
}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled]:hover,
.btn-red[disabled]:focus,
.btn-red[disabled]:active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red:hover,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red.active {
  color: #fff;
  background-color: #D7230F;
  border-color: #D7230F;
}
.btn-dark {
  color: #fff;
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  color: #fff;
  background-color: #233140;
  border-color: #1a252f;
}
.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active,
.btn-dark.disabled.active,
.btn-dark[disabled]:hover,
.btn-dark[disabled]:focus,
.btn-dark[disabled]:active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark:hover,
fieldset[disabled] .btn-dark:focus,
fieldset[disabled] .btn-dark:active,
fieldset[disabled] .btn-dark.active {
  color: #fff;
  background-color: #2C3E50;
  border-color: #2C3E50;
}


.no-wrap {
  white-space: nowrap;
}
.bootstrap-select.btn-group .btn .filter-option {
  font-size:12px;
}
.bootstrap-select.btn-group .btn {
  height:30px;
}
.bootstrap-select.btn-group .dropdown-menu .dropdown-header {
  padding:3px 10px;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  padding: 3px 25px 0 15px;
}
.bootstrap-select.btn-group .dropdown-menu .divider {
  display: none;
}

.datetimepicker-wrapper {
  position: relative;
}

.paragraph {
  padding: 15px;
}

.color-annoying_client {
  background: #fff ;
  border: 1px solid #333;
  border-radius: 5px;
  color: #f00 !important;
}

.stat-box{
    border: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
  }
.stat-box .value {
  padding: 10px 0;
  font-size: 30px;
  width: 30%;
  text-align: center;
  float: left;
}
.stat-box .title {
  padding: 17px 10px;
  font-size: 18px;
  float: left;
}

.news-box {
  border: 1px solid #ddd;
  padding: 0px;
  border-radius: 5px;
}
.news-box li {
  list-style: none;
}
.news-box li a {
  color: #4d4d4d;
  padding: 10px;
  width: 100%;
  display: inline-block;
  font-size: 100%;
  border-bottom:1px dashed #ccc;
}
.news-box li:hover {
  background: #f1f1f1
}
.news-box li a:hover {
  text-decoration: none;
}
.news-box li .news-box-info {
  font-size: 80%;
}
/*.chart {
  border: 1px solid #ddd;
  min-height: 300px;
  margin: 5px;
}*/

.toolbar-fixed {
  position: fixed;
  top: 40px;
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}